<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">
    {% load static %}
    {% csrf_token %}  
    <link href="{% static 'style.css' %}" rel="stylesheet"> 
    <style>
        #bg{
            background: cover;
            background-repeat: no-repeat;
            background-position: 20% 20%;
            background-attachment: fixed;
            background-size: cover;

        }.
    </style>
    <title>Add calender</title>  
</head>  
<body id="bg" style="background-image: url('{%static 'bookevent.jpeg' %}')";>  
<div class="container">
    <form method="POST" class="post-form">  
    <h1>Add new Events to calender</h1>
        {% csrf_token %}  
        {{ form.as_p }}  
        <button type="submit" class="save btn btn-default">Save</button>  
    </form>  
</div>
</body>  
</html>  
